{% extends "base.j2" %}

{% block content %}
  <h2>Post Printer</h2>
  <form action="" method="post">
  {{ form.hidden_tag() }}
 <p>
    {{ form.company.label }}<br>
    {{ form.company(size=32) }}
 </p>
 <p>
    {{ form.name.label }}<br>
    {{ form.name(size=32) }}
    {% for error in form.company.errors %}
      <span class="error try again">{{ error }}</span>
    {% endfor %}
 </p>
 <p>
   {{ form.description.label }}<br>
   {{ form.description(size=32) }}
 </p>
 
 <p>{{ form.submit() }}</p>
</form>
{% endblock %}